<!-- ng generate component Mycomponents/appname -->

<!-- <div>
  <h1>This is Assignment</h1>
  <p [id]="nameId">this is id paragraph</p>
  <p (click)="onClickListener($event)">My name is Anish Kumar Rai</p>
  
  <p [ngClass]="{red:failed,green:!failed}">oierjoijoierjf</p>
  <app-list></app-list>
</div> -->


<!-- <div class="container">
  <div class="main_container">
  <div class="main_box" [ngClass]="{
    red:color==='red',yellow:color==='yellow',green:color==='green'
  }"></div>
  </div>
 <div class="child_container">
  <button class="button" (click)="onChildBox('red')">Red</button>
  <button class="button" (click)="onChildBox('yellow')">Yellow</button>
  <button class="button" (click)="onChildBox('green')">Green</button>
  </div>
</div> -->

<div class="container">
  <div class="main_container">
    <div class="main_box" [ngClass]="{
    red:color==='red',yellow:color==='yellow',green:color==='green'
  }"></div>
  </div>
  <div class="child_container">
    <button class="button" (click)="onChildBox('red')">Red</button>
    <button class="button" (click)="onChildBox('yellow')">Yellow</button>
    <button class="button" (click)="onChildBox('green')">Green</button>
  </div>
</div>