
<!-- <div>
  <h2>.</h2>
  <h2>Hii this is my first project in angular and title is {{title}} and server name is {{serverName}} </h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quos magni laudantium dignissimos quae necessitatibus quaerat assumenda ea modi nisi.</p>
</div> -->

<!-- Id is created dynamacally ,it is wrapped in [] -->

<!-- <p [id]="paragraphId">This is a paragraph</p> -->
<!-- Directives -->
<!-- <p [id]="id">Anish Kumar Rai</p> -->
<app-demo [header1]="'Project'">
  <h3 class="body">Hi this is the body section </h3>
</app-demo>
 
<app-demo [header]="'Form'">
 <form class="body">
   <label for="name">Name</label>
   <input type="text" id="name" placeholder="enter your name">
 </form>
</app-demo>

