<div class="reset-pass">
  <!-- <button
    (click)="logout()"
    class="bg-blue-500 p-2 px-4 text-white float-right rounded"
  >
    log out
  </button> -->
  <div class="bg-grey-lighter h-full font-sans">
    <div class="container mx-auto h-full flex justify-center items-center ">
      <form
        class="bg-gray-300 p-5 form-example form w-1/3 mt-20"
        [formGroup]="form"
        (ngSubmit)="sendLinkToEmail()"
      >
        <h2 class="font-hairline font-bold block text-center text-lg">
          Send Token
        </h2>
        <div class="form-example mb-4">
          <label for="email" class="font-bold text-grey-darker block mb-2"
            >Enter Email-id:
          </label>
          <input
            type="email"
            name="email"
            class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
            id="email"
            formControlName="email"
          />
          <p
            *ngIf="email && email.invalid && email.touched"
            class="text-red-700"
          >
            *Enter Valid Email
          </p>
        </div>

        <div class="flex items-center justify-between">
          <input
            type="submit"
            value="Send"
            class="bg-teal-dark hover:bg-teal text-black font-bold py-2 px-4 rounded bg-blue-400 disabled:opacity-25"
            [disabled]="form.invalid"
          />
        </div>
      </form>
    </div>
  </div>
</div>
