.section{
    margin: 50px 10px;
}
.header_section{
    background-color: red;
    text-align: center;
    padding: 10px;
}
.body_section{
    background-color: aquamarine;
    padding:50px
}
.footer_section{
    background-color: orange;
    float: right;
}