<div class="toolbar">
    <span class="heading">User Dashboard</span>
  <div class="toolbar__actions">
    <button class="toolbar__actions__button" (click)="onClick('folder')">
      <i class="fa-solid fa-plus"></i><span>Folder</span>
    </button>

    <button class="toolbar__actions__button" (click)="onClick('file')">
      <i class="fa-solid fa-plus"></i><span>File</span>
    </button>

  <button class="toolbar__actions__button" (click)="onClick('config')">
      <i class="fa-solid fa-plus"></i><span>Config</span>
    </button>
    

    <button class="toolbar__actions__button" (click)="logOut()">
      <i class="fa-solid "></i><span>Logout</span>
    </button>


  </div>
</div>
