.toolbar{

    width: 100%;
    height: 40px;
    background-color: rgb(98, 157, 209);
    
}
.toolbar__actions{
    margin-top: 5px;
    float: right;
}
.toolbar__actions__button{
    height: 30px;
    width: 100px;
}

.heading{
    font-size: 35px;
}