<mat-toolbar color="warn" class="header">
  <span>Login Form</span>
</mat-toolbar>
<div  class="container">
    
    <mat-card class="login">

        <h2>Login Page</h2>
        <!-- <mat-toolbar color="primary"></mat-toolbar> -->
    <form class="login-form" fxLayout="column" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-form-field  >
            <mat-label>Employee ID</mat-label>
            <input matInput placeholder="xyz" required formControlName="employeeId">

            
        </mat-form-field>
    
        <mat-form-field >
            <mat-label>PassWord</mat-label>
            <input matInput placeholder="abc@123" formControlName="password">
        </mat-form-field>
        <button mat-raised-button type="submit">Login</button>
    </form>
    </mat-card>
</div>
