<nav class="navbar">
    
    <!-- <a routerLink="/login">Login</a> -->
    <!-- <a routerLink="/admin-dashboard">admin-dashboard</a> -->
    <!-- <a routerLink="/create-emp">Create Emp</a> -->
    <!-- <a routerLink="/add-customer">Add Customer</a> -->
    <!-- <a routerLink="/account">Accounts</a> -->
    <!-- <a routerLink="/create-po">Create po</a> -->
    <!-- <a routerLink="/furnace-operator">Furnace Operator</a> -->
    <!-- <a routerLink="/storage">Storage</a> -->
    <!-- <a routerLink="/payment-status">Payment-Status</a> -->
    <!-- <a routerLink="/delivery">Delivery</a> --> 
</nav>


<router-outlet></router-outlet>