<!-- <mat-table> </mat-table> -->
<div class="container">
  <div class="logout">
    <button mat-raised-button type="submit" color="primary" (click)="logout()">
      Log-out
    </button>
  </div>
  <main class="main">
    <div class="details">
      <div class="details__data">
        <p>Name: {{ internDetails[0].student[0].name }}</p>
        <p>Email: {{ internDetails[0].student[0].email }}</p>
      </div>
      <div class="details__data">
        <span>Trainer Assigned:
           <span *ngFor="let data of dataSource; let i = index">
            {{ data.trainersAssigned[i].name }},
            <!-- {{ data.trainersAssigned[i+1].name }} -->
          </span>
        </span>
        <p>
          Last Evaluation Date:
          {{ dataSource[0].lastEvaluated }}
        </p>
        <p>
          Track:
          {{ dataSource[0].track[0].name }}
        </p>
        <!-- <p>
         Proactiveness Rating:
        {{ averages.ProActivenessRating }}
      </p> -->
      </div>
    </div>
    <!-- <div *ngFor="let data of dataSource"> -->
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="LogicRating">
        <th mat-header-cell *matHeaderCellDef>Logic Rating</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.rating.LogicRating }}
        </td>
      </ng-container>

      <ng-container matColumnDef="CommunicationRating">
        <th mat-header-cell *matHeaderCellDef>Communication Rating</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.rating.CommunicationRating }}
        </td>
      </ng-container>

      <ng-container matColumnDef="AssignmentRating">
        <th mat-header-cell *matHeaderCellDef>Assignment Rating</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.rating.AssignmentRating }}
          <!-- {{ dataSource[0].trainersAssigned[i+1].name }} -->
        </td>
      </ng-container>

      <ng-container matColumnDef="ProActivenessRating">
        <th mat-header-cell *matHeaderCellDef>ProActiveness Rating</th>
        <td mat-cell *matCellDef="let element">
          {{ element.rating.ProActivenessRating }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
    <!-- </div> -->
  </main>
</div>
