<div class="reset-pass">
      <button (click)="logout()" class="admin-header-button">
        log out
      </button>
<div class="main-container">
  <div class="container">

    <form  class="form-example form" [formGroup]="form" (ngSubmit)="sendLinkToEmail()" >
      <h2>Send Token </h2>
      <div class="form-example">
        <label for="email">Enter Email-id: </label>
        <input type="email" name="email" id="email" formControlName="email">
         <p
         *ngIf="email && email.invalid && email.touched"
          class="form__form-field__validator"
        > *Enter Valid Email </p>
      </div>
      
      <div class="login-btn">
        <input type="submit" value="Send" [disabled]="form.invalid"/>
      </div>
    
    </form>
  </div>
</div>
</div>