
<div class="reset-pass">
      <button (click)="logout()" class="bg-blue-500 p-2 px-4 text-white rounded float-right">
        log out
      </button>
<div class="bg-grey-lighter h-full font-sans">
  <div class="container mx-auto h-full flex justify-center items-center">
    <form class="bg-gray-300 p-5 form-example form w-1/3 mt-20" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h3 class="font-hairline  font-bold block text-center text-lg">Reset Password</h3>

       <div class="form-example mb-4">
        <label for="token" class="font-bold text-grey-darker block mb-2">Enter the Token </label>
        <input
          type="text"
          name="token"
          class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
          id="token"
          placeholder="enter atleast 6 digit"
          formControlName="resetToken"
        />
         <p
         *ngIf="resetToken && resetToken.invalid && resetToken.touched"
         class="text-red-700" >
         *Password should be min 5 digit
        </p>
      </div>
      <div class="form-example mb-4">
        <label for="email" class="font-bold text-grey-darker block mb-2">New Password </label>
        <input
          type="password"
          name="firstPassword"
           class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
          id="email"
          placeholder="enter atleast 6 digit"
          formControlName="password"
        />
         <p
         *ngIf="password && password.invalid && password.touched"
         class="text-red-700" >
         *Password should be min 5 digit
        </p>
      </div>
    
      <div class="flex items-center justify-between">
        <input type="submit" value="Reset"
         class="bg-teal-dark hover:bg-teal text-black font-bold py-2 px-4 rounded bg-blue-400 disabled:opacity-25"
          [disabled]="form.invalid" />
      </div>
    </form>
  </div>
</div>
</div>
