.team-container{
    margin-bottom: 1rem;

}
.team-container ul{
    width: 200px;
    border: 2px solid orange;
    margin: 0;
    padding: 10px 30px;
    background-color: cadetblue;
    

}
ul{
    list-style-type: none;
}
