<div class="reset-pass">
      <button (click)="logout()" class="admin-header-button">
        log out
      </button>
<div class="main-container">
  <div class="container">
    <form class="form-example form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h3>Reset Password</h3>

       <div class="form-example">
        <label for="token">Enter the Token </label>
        <input
          type="text"
          name="token"
          id="token"
          placeholder="enter atleast 6 digit"
          formControlName="forgotPasswordToken"
        />
         <p
         *ngIf="forgotPasswordToken && forgotPasswordToken.invalid && forgotPasswordToken.touched"
         class="form__form-field__validator" >
         *Password should be min 5 digit
        </p>
      </div>
      <div class="form-example">
        <label for="email">New Password </label>
        <input
          type="password"
          name="firstPassword"
          id="email"
          placeholder="enter atleast 6 digit"
          formControlName="newPassword"
        />
         <p
         *ngIf="newPassword && newPassword.invalid && newPassword.touched"
         class="form__form-field__validator" >
         *Password should be min 5 digit
        </p>
      </div>
    
      <div class="login-btn">
        <input type="submit" value="Reset" [disabled]="form.invalid" />
      </div>
    </form>
  </div>
</div>
</div>
