
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(151, 192, 192);
    
}

.login {
    width: 300px;
    // background-color: rgb(153, 196, 124);
}

.login-form{
    width: 280;
}


h2 {
    text-align: center;
}