.main-container{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px;
    height: 390px;
    background-color: rgb(119, 167, 167);
    border: 2px solid rgb(154, 207, 154);
    border-radius: 10%;
    box-shadow: 10px 10px 8px #888888;
    
}
.form-example{
    margin-top: 20px;
}
.form{
    margin-top: 10px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

h3{
    margin-left: 110px;
    // text-align: center;
}
.login-btn{
    margin-left: 100px;
    margin-top: 30px;

}

.section1{
    margin-left: 200px;
    cursor: pointer;
    // text-align: center;
}

input[type=email],
input[type=password] {
    width: 80%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

p {
    color: red;
    margin: 0px 0px;
}